@page "/action-items"
@layout MainLayout
@inherits WorkScheduleServer.Pages.ActionItemsComponent

@using Radzen
@using Radzen.Blazor
@using WorkScheduleServer.Models.WorkScheduleDb
@using Microsoft.AspNetCore.Identity;
@using WorkScheduleServer.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
<PageTitle>Action Items</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Action Items">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenSplitButton Icon="get_app" style="margin-left: 10px; margin-bottom: 10px" Text="Export" Click="@Splitbutton0Click">
          <ChildContent>
            <RadzenSplitButtonItem Text="Excel" Value="xlsx">
            </RadzenSplitButtonItem>
            <RadzenSplitButtonItem Text="CSV" Value="csv">
            </RadzenSplitButtonItem>
          </ChildContent>
        </RadzenSplitButton>
        <RadzenDataGrid @ref="grid0" AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="true" AllowSorting="true" Data="@getActionItemsResult" TItem="WorkScheduleServer.Models.WorkScheduleDb.ActionItem" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenDataGridColumn TItem="WorkScheduleServer.Models.WorkScheduleDb.ActionItem" Property="Id" Title="Id">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="WorkScheduleServer.Models.WorkScheduleDb.ActionItem" Property="From" FormatString="{0:yyyy/MM/dd}" Title="From">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="WorkScheduleServer.Models.WorkScheduleDb.ActionItem" Property="To" FormatString="{0:yyyy/MM/dd}" Title="To">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="WorkScheduleServer.Models.WorkScheduleDb.ActionItem" Property="EventName" Title="Event Name">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="WorkScheduleServer.Models.WorkScheduleDb.ActionItem" Property="Notes" Title="Notes">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="WorkScheduleServer.Models.WorkScheduleDb.ActionItem" Property="BackgroudColor" Title="Backgroud Color">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="WorkScheduleServer.Models.WorkScheduleDb.ActionItem" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="workScheduleServerModelsWorkScheduleDbActionItem">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, workScheduleServerModelsWorkScheduleDbActionItem))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenDataGridColumn>
          </Columns>
        </RadzenDataGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
