@page "/edit-action-item/{Id}"
@layout MainLayout
@inherits WorkScheduleServer.Pages.EditActionItemComponent

@using Radzen
@using Radzen.Blazor
@using WorkScheduleServer.Models.WorkScheduleDb
@using Microsoft.AspNetCore.Identity;
@using WorkScheduleServer.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
<PageTitle>Edit Action Item</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm TItem="WorkScheduleServer.Models.WorkScheduleDb.ActionItem" Data="@actionitem" Visible="@(actionitem != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="From" Component="From" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="yyyy/MM/dd" style="display: block; width: 100%" @bind-Value="@(actionitem.From)" Name="From">
                </RadzenDatePicker>
                <RadzenRequiredValidator Component="From" Text="From is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="To" Component="To" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="yyyy/MM/dd" style="display: block; width: 100%" @bind-Value="@(actionitem.To)" Name="To">
                </RadzenDatePicker>
                <RadzenRequiredValidator Component="To" Text="To is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Event Name" Component="EventName" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox style="width: 100%" @bind-Value="@(actionitem.EventName)" Name="EventName">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Notes" Component="Notes" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox style="width: 100%" @bind-Value="@(actionitem.Notes)" Name="Notes">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Backgroud Color" Component="BackgroudColor" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox style="width: 100%" @bind-Value="@(actionitem.BackgroudColor)" Name="BackgroudColor">
                </RadzenTextBox>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
