@page "/"
@page "/work-schedule-view"
@layout MainLayout
@inherits WorkScheduleServer.Pages.WorkScheduleViewComponent

@using Radzen
@using Radzen.Blazor
@using WorkScheduleServer.Models.WorkScheduleDb
@using Microsoft.AspNetCore.Identity;
@using WorkScheduleServer.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
<PageTitle>Work Schedule View</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1"  Text="Work Schedule View">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenSplitButton Icon="get_app" style="margin-bottom: 10px; margin-left: 10px" Text="Export" Click="@Splitbutton0Click">
          <ChildContent>
            <RadzenSplitButtonItem Text="Excel" Value="xlsx">
            </RadzenSplitButtonItem>
            <RadzenSplitButtonItem Text="CSV" Value="csv">
            </RadzenSplitButtonItem>
          </ChildContent>
        </RadzenSplitButton>
        <RadzenDataGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getWorkSchedulesResult" FilterMode="Radzen.FilterMode.Advanced" TItem="WorkScheduleServer.Models.WorkScheduleDb.WorkSchedule" PageSize="20" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenDataGridColumn TItem="WorkScheduleServer.Models.WorkScheduleDb.WorkSchedule" Property="Id" Title="Id">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="WorkScheduleServer.Models.WorkScheduleDb.WorkSchedule" FormatString="{0:yyyy/MM/dd}" Property="Date" Title="Date">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="WorkScheduleServer.Models.WorkScheduleDb.WorkSchedule" FormatString="{0:yyyy/MM/dd HH:mm}" Property="StartTime" Title="Start Time">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="WorkScheduleServer.Models.WorkScheduleDb.WorkSchedule" FormatString="{0:yyyy/MM/dd HH:mm}" Property="EndTime" Title="End Time">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="WorkScheduleServer.Models.WorkScheduleDb.WorkSchedule" Property="WorkStyle" Title="Work Style">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="WorkScheduleServer.Models.WorkScheduleDb.WorkSchedule" Property="WorkingPlace" Title="Working Place">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="WorkScheduleServer.Models.WorkScheduleDb.WorkSchedule" Property="User" Title="User">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="WorkScheduleServer.Models.WorkScheduleDb.WorkSchedule" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
              <Template Context="workScheduleServerModelsWorkScheduleDbWorkSchedule">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, workScheduleServerModelsWorkScheduleDbWorkSchedule))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenDataGridColumn>
          </Columns>
        </RadzenDataGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
